.container {
    margin: 0 auto;
    text-align: center;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
}

.square_btn img {
    width: 75px;
    height: 75px;
}

.square_btn {
    display: inline-block;
    text-align: center;
    height: 75px;
    width: 80px;
    padding: 15px;
    text-decoration: none;
    border: solid 2px transparent;
    border-radius: 90px;
    transition: .4s;
}

.square_btn:hover {
    background: transparent;
    color: white;
    transform: scale(1.1);
}


button img {
    width: 100%;
    height: 100%;
}


.button-container>button {
    width: calc(25% - 20px);
}

.button-container>button:nth-child(4n+1) {
    margin-left: 0;
}

.button-container>button:nth-child(n+5) {
    margin-top: 20px;
}


@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
